.header{
  background-color:#00bfff;
  color:#fff;
  height:170px;
}
.header-logo{
 float: left;
  font-size:80px;
  padding: 25px 45px;

}
body {
  font-family: "Avenir Next";
}
.copy-container h1{
  font-size:70px;
  background-color:#7fffd4;
  }
.copy-container h2{
  font-size:40px;
  }
.copy-container span {
  color: #ff4a4a;
  }
  .copy-container h3{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
.footer-logo{
   float: left;
  font-size: 32px;
}.footer-list {
  float: right;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding:100px;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 40px;
}
.
  
