.header{
  background-color:#00bfff;
  color:#fff;
  height:170px;
}
.header-logo{
 float: left;
  font-size:80px;
  padding: 25px 45px;

}
body {
  font-family: "Avenir Next";
}
.copy-container h1{
  font-size:70px;
  background-color:#7fffd4;
  }
.copy-container h2{
  font-size:40px;
  }
.copy-container span {
  color: #ff4a4a;
  }
  .copy-container h3{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
.footer {
  background-color: #2f5167;
  height: 140;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  color:#ffffff;
}

.footer-list {
  float: left;
  font-size:32px;
   color:#32cd32;
  padding-bottom: 20px
}
.contents-item-1{
  height:140px;
width:187px;
}
.contents-item{
  height:140px;
  width:94;

